<div class="flex py-10 mx-auto justify-center">
  <div class="mx-auto flex justify-center">
    <% @leagues.each do |league| %>
      <div class="px-10">
        <h3><%= league.name %></h3>
        <% if current_user.memberships.exists?(league_id: league.id, membership_type: "manager") %>
          <%= link_to 'Manage League', league_path(league) %>
        <% elsif current_user.memberships.exists?(league_id: league.id) %>
          <%= button_to 'Leave League', league_membership_path(league.memberships.find_by(user_id: current_user.id)), method: :delete %>
        <% else %>
          <%= button_to 'Join League', league_memberships_path(league_membership: { user_id: current_user.id, membership_type: "player", league_id: league.id }), method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mx-auto justify-center">
    <%= link_to new_league_path, class: "inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
      <svg class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
      </svg>
      Create New League
    <% end %>
  </div>
</div>