<%= form_for(@event, url: @event.new_record? ? admin_league_events_path(@league) : admin_league_event_path(@league, @event), method: @event.new_record? ? :post : :patch, html: { class: 'space-y-6' }) do |f| %>    <%= f.label :event_type, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.select :event_type, League::Event.event_type_select_options, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.label :start_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.text_field :start_date, type: :date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.label :end_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.text_field :end_date, type: :date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.label :entry_fee, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.number_field :entry_fee, step: :any, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.label :per_round_fee, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.number_field :per_round_fee, step: :any,class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.label :average_holes_per_round, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.select :average_holes_per_round, [1, 9, 18], {}, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" } %>
    </div>
    <%= f.label :status, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.select :status, League::Event.status_select_options, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
    </div>
    <%= f.submit 'Save Round', class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
<% end %>
