<%= render "layouts/sidebar" %>
<main class="py-10 lg:pl-72">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <h2 class="text-xl font-bold mb-4">Round <%= @round_number %></h2>
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_for([:admin, @league, @event, @round], url: admin_league_event_round_path(@league, @event, @round), method: :patch, html: { class: 'space-y-6' }) do |f| %>
        <%= f.label :position, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.number_field :position, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :scoring_format, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.number_field :scoring_format, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :playing_format, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.select :playing_format, ["standard", "shamble", "scramble", "five_clubs_only", "red_white_blue"], class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :starting_hole, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.number_field :starting_hole, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :number_of_holes, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.number_field :number_of_holes, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :start_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.date_select :start_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.label :end_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.date_select :end_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <%= f.submit 'Update Round', class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>
  </div>  
</div>
</main>