<%= form_for(@scorecard, url: @scorecard.new_record? ? admin_league_event_round_scorecards_path(@league, @event, @round) : admin_league_event_round_scorecard_path(@league, @event, @round, @scorecard), html: { class: 'space-y-6' }) do |f| %>
  <%= f.label :user_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.select :user_id, @users.map { |user| [user.full_name, user.id] }, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :score_gross, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :score_gross, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :score_net, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :score_net, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :score_best_of_holes, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :score_best_of_holes, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :score_chicago, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :score_chicago, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :score_stableford, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :score_stableford, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.label :computed_score_method, class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2">
    <%= f.number_field :computed_score_method, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
  </div>
  <%= f.submit 'Create Score', class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
<% end %>