<div class="flex h-screen min-h-full backdrop-blur flex-col py-12 sm:px-6 lg:px-8">
  <div class="justify-center mx-auto mt-6 flex"> <%= image_tag("league-hacker-light-logo.svg", class: "w-[220px] h-[220px]") %></div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="px-6 py-4 sm:rounded-lg sm:px-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-4' }) do |f| %>
          <div class="w-5/6 mx-auto justify-center">
            <div class="">
              <%= f.text_field :email, autofocus: true, placeholder: "Email", class: "block bg-gray-400 w-full bg-opacity-30 bg-gray-700 rounded-full border-0 py-1.5 text-gray-300 shadow-sm placeholder:text-gray-300 focus:ring-gray-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="w-5/6 mx-auto justify-center">
            <div class="">
              <%= f.password_field :password, autofocus: true, placeholder: "Password", class: "block bg-gray-400 w-full bg-opacity-30 bg-gray-700 rounded-full border-0 py-1.5 text-gray-300 shadow-sm placeholder:text-gray-300 focus:ring-gray-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="w-5/6 mx-auto justify-center flex">
            <%= f.submit "Continue", class: "flex w-full justify-center rounded-full px-3 py-1.5 text-base font-semibold leading-6 text-black shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-league-yellow" %>
          </div>
        <% end %>
    </div> 
  </div>
</div>
