<div class="flex h-screen bg-black min-h-full flex-col py-12 sm:px-6 lg:px-8">
  <div class="container">
    <div class="justify-center mx-auto mt-6 flex w-[220px] h-[220px]"> <%= image_tag("league-hacker-dark-logo.svg") %></div>
  </div>

  <div class="mt-16 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-black px-6 py-6 shadow sm:rounded-lg sm:px-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
          <div class="w-5/6 mx-auto justify-center">
            <%= f.label :phone, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="">
              <%= f.number_field :phone, autofocus: true, placeholder: "Enter Phone Number", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", type: "tel", pattern: "[0-9]*" %>
            </div>
          </div>

          <div class="w-3/6 mx-auto justify-center flex">
            <%= f.submit "Send", class: "flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", style: "background: #48CB7B;" %>
          </div>
        <% end %>
    </div> 
  </div>
</div>
