<%= form_with(model: [@scorecard, @entry], url: scorecard_entries_path, method: :post) do |form| %>
  <%= form.hidden_field :round_id, value: @round.id %>
  <div class="field">
    <%= form.label :hole_id, 'Select Hole' %>
    <%= form.collection_select :hole_id, GolfCourse::Hole.all, :id, :hole, prompt: 'Select Hole' %>
  </div>

  <div class="field">
    <%= form.label :score, 'Score' %>
    <%= form.number_field :score %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Score' %>
  </div>
<% end %>
