<nav class="bg-white">
  <div class="mx-auto h-16 flex max-w-7xl px-4 sm:px-6 lg:px-8 relative">
    <div class="mr-2 sm:hidden">
      <button id="burger-btn" class="text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700">
        <div class="justify-center mx-auto mt-6 flex h-6 w-6"> <%= image_tag("burguer-icon.svg") %></div>
      </button>

      <div id="dropdown-menu" class="hidden w-3/6 rounded-lg absolute z-10 bg-black border border-gray-200">
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'block text-md px-4 py-2 text-gray-800 text-white' %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'block text-md px-4 py-2 text-gray-800 text-white' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'block text-md px-4 py-2 text-gray-800 text-white' %>
        <% end %>  
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to "Admin Panel", admin_root_path, class: "block text-md px-4 py-2 text-gray-800 text-white" %>
          <% end %>
        <% end %>
          <%= link_to "Leagues", leagues_path, class: "px-4 py-2 text-md font-medium text-white"%>
      </div>
    </div>
    <div class="-mr-2 flex sm:hidden">
    </div>
    <div class="flex h-16 items-center mx-auto">
      <div class="flex justify-center mx-auto ">
        <div class="flex-shrink-0">
          <a class="brandName" href="/">
            <div class="justify-center mx-auto mt-6 flex w-[180px] h-[180px]"> <%= image_tag("league-hacker.svg") %></div>
          </a>
        </div>

      </div>
      <div class="hidden sm:ml-6 sm:block">
          <div class="relative ml-3">
            <div>
              <% if user_signed_in? %>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'text-white font-bold font-medium' %>
              <% else %>
                <%= link_to 'Log in', new_user_session_path, class: 'text-white font-bold font-medium px-6' %>
                <%= link_to 'Sign up', new_user_registration_path, class: 'text-white font-bold font-medium' %>
              <% end %>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const burgerBtn = document.getElementById('burger-btn');
  const dropdownMenu = document.getElementById('dropdown-menu');

  burgerBtn.addEventListener('click', function () {
    dropdownMenu.classList.toggle('hidden');
  });

  document.addEventListener('click', function (event) {
    if (!event.target.closest('#burger-btn') && !event.target.closest('#dropdown-menu')) {
      dropdownMenu.classList.add('hidden');
    }
  });
});
</script>
