<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>LeagueHacker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'league-hacker-icon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- sprockets -->
    <%#= stylesheet_link_tag "application" %>

    <!-- esbuild -->
    <%= stylesheet_link_tag "tailwind",  "data-turbo-track": "reload" %>
    <%= javascript_include_tag "main", type: "module" %>
  </head>

  <body class="h-full">
  <main>
    <% unless controller_path.start_with?('admin/') || devise_controller? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%= yield %>
  </main>
  </body>
</html>
